<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>616490055606-6h0i59htlnnpkd6k61ks10ca15damceu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.616490055606-6h0i59htlnnpkd6k61ks10ca15damceu</string>
	<key>API_KEY</key>
	<string>AIzaSyBtMThYCGDdSy3PQ8hM-eZ96o3n0TyW6Yc</string>
	<key>GCM_SENDER_ID</key>
	<string>616490055606</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.taskouPro</string>
	<key>PROJECT_ID</key>
	<string>nordcal-tek-c8b69</string>
	<key>STORAGE_BUCKET</key>
	<string>nordcal-tek-c8b69.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:616490055606:ios:1ac850e90c5df88e7f7317</string>
	<key>DATABASE_URL</key>
	<string>https://nordcal-tek-c8b69-default-rtdb.firebaseio.com</string>
</dict>
</plist>